button, label, stack-layout {
    horizontal-align: center;    
}

button {
    font-size: 36;
}

.title {
    font-size: 30;
    margin: 20;
}

.message {
    font-size: 20;
    color: #284848;
    text-align: center;
    margin: 0 20;
} 

.icon {
	font-family: "WeatherIcons-Regular";
	font-size: 130;
	padding: 0;
	horizontal-align: center;
}
.material-icon{
	font-family: 'Material-Design-Iconic-Font';
}